<%- include("header") %> 

<h2> This is about page</h2>

<p>The details of this app creator and his work to helping people progress with their daily task with higher satisfaction.</p>

<%- include("footer") %> 